@import url(./global.css);

@media (max-width: 37.5em) {
    html {
        font-size: 56.25%;
    }

    .main {
        margin-top: 6.667rem;
    }

    .primary-title {
        font-size: 2.66rem;
    }

    .secundary-title {
        font-size: 2rem;
    }

    .main {
        padding: 0 2rem;
    }

    .recommendations {
        gap: 1.778em;
    }

    .recommendations__item {
        width: 10em;
    }

    .recommendations__icon {
        font-size: 1.556em !important;
    }

    .recommendations__item .circle--recomendation {
        width: 3.556em !important;
        height: 3.556em !important;
    }

    .ad-box {
        width: 26.667rem;
    }

    .warning {
        margin: 0 1.334rem;
    }
}

@media (max-width: 29.375em) {
    .primary-title {
        font-size: 2rem;
    }

    .recommendations {
        gap: 0.889em;
    }

    .recommendations .recommendations__item .circle--recomendation {
        width: 2.667em !important;
        height: 2.667em !important;
    }

    .warning {
        padding: 1.334rem 1.778rem;

        text-align: center;

        flex-direction: column;
        justify-content: center;
    }

    .checkmark-icon,
    .error-icon {
        margin: 0;
        margin-bottom: 0.556rem;
    }
}